@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes blink {
  0%,
  90%,
  100% {
    transform: scaleY(1);
  }
  95% {
    transform: scaleY(0);
  }
}

@keyframes mouth {
  0%,
  100% {
    transform: scaleY(1) translateX(-50%);
  }
  50% {
    transform: scaleY(0.6) translateX(-50%);
  }
}

.animate-blink {
  animation: blink 4s infinite;
}

.animate-mouth {
  animation: mouth 0.3s infinite;
}
