@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

p {
  color: #fff;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: max-content;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.75rem;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
  margin-right: 1rem;
}

.sent p {
  background-color: aqua;
}

.received p {
  background-color: Magenta;
}
